* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier Prime', monospace;
    margin: 0;
}

.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.header h1 {
    font-size: 40px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: 'Bungee', cursive;;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #666;
    color: white;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.side {
    -ms-flex: 30%;
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    -ms-flex: 70%;
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.fakeimg {
    width: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(10px);
    border-radius:15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    padding: 20px;


}
textarea {
    width:100%;
    resize: vertical;
    padding:30px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0.2,0.2,0.09);
    height:300px;
}
.info_us {
    font-family: 'Courier Prime', monospace;
}
.bullet {
    margin-left: 0;
    list-style: none;
    counter-reset: li;
    padding: 0px;
}
.bullet li {
    position: static;
    margin-bottom: 13px;
    border: 3px solid #1abc9c;;
    padding: 10px;
    border-radius: 10px;
    background: #FEFEFE;
    color: #231F20;
    font-family: 'Bungee', cursive;;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
.button {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 10px ;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #1abc9c inset, 0 0 0 0 #1abc9c;;
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
}
.button:hover {
    box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
    color: #F137A6;
}