* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier Prime', monospace;
    margin: 0;
}

.header {
    padding: 0;
    text-align: center;
    font-family: Poppins, sans-serif;
}

.header h1 {
    font-size: 40px;
}

.navbar {
    overflow: hidden;
    position: sticky;
    position: sticky;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

.navbar a.active::before {
    padding-right: 10px;
    content: "\f015";
    font-family: icomoon;
}

.row {
    display: flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;

}

.side {
    flex: 30%;
    flex: 30%;
    padding: 20px;
}

.main {
    flex: 70%;
    flex: 70%;
    padding: 20px;
}

.fakeimg {
    width: 100%;
    border-radius: 15px;
    padding: 20px;
    
}

.text_about_us {
    width: 100%;
    border-radius: 15px;
    padding: 20px;
    height: fit-content;
}

textarea {
    width: 100%;
    resize: none;
    padding: 30px;
    border-radius: 15px;
    height: 300px;
}

.contacts,
.headers,
.about_us {
    font-family: 'Courier Prime', monospace;
}

.dropbtn-inst, .dropbtn-git, .dropbtn-tg {
    border-radius: 10px;
    padding: 16px;
    font-size: 16px;
    font-weight: 550;
    margin-bottom: 10px;
    width: 160px;
}

  .dropbtn-inst::before {
    font-size: 18px;
    padding-right: 15px;
    content: "\ea92";
    font-family: icomoon;
}

  .dropbtn-git::before {
    font-size: 18px;
    padding-right: 15px;
    content: "\eab0";
    font-family: icomoon;
}

  .dropbtn-tg::before {
    font-size: 18px;
    padding-right: 15px;
    content: "\ea95";
    font-family: icomoon;
}

  .dropdown-inst, .dropdown-git, .dropdown-tg {
    position: static;
    display: inline-table;
}

  .dropdown-inst-content, .dropdown-git-content, .dropdown-tg-content {
    display: none;
    position: static;
    text-align: center;
    margin-bottom: 15px;
    max-width: 160px;
    z-index: 1;
}

  .dropdown-inst-content a, .dropdown-git-content a, .dropdown-tg-content a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-inst.active .dropdown-inst-content, 
.dropdown-git.active .dropdown-git-content, 
.dropdown-tg.active .dropdown-tg-content {
    display: block;
}

footer {
    font-size: 16px;
}

footer * {
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: stretch;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 2em;
    min-height: 15em;
}

.column h3 {
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    white-space: nowrap;
}

.footer-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.footer-list li:not(:first-child) {
    margin-top: 0.8em;
}

.footer-list li a {
    text-decoration: none;
}

.about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
}

.buttons-code {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
}

.button-send {
    margin-bottom: 5px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    transition: .15s ease-in-out;
    cursor: pointer;
}

.button-clear {
    margin-bottom: 5px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    transition: .15s ease-in-out;
    cursor: pointer;
}

.copyright {
    height: auto;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .15s ease-in-out;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.title {
    width: 10ch;
    font-family: 'Courier Prime', monospace;
    font-size: 115px;
    white-space: nowrap;
    overflow: hidden;
    animation: flashing-border 0.75s step-end infinite,
        text 5s steps(10);
}

@keyframes text {
    from {
        width: 0;
    }
}

.contacts::after {
    padding-left: 20px;
    content: "\ea82";
    font-family: icomoon;
}

.about_us::after {
    padding-left: 20px;
    content: "\f0ad";
    font-family: icomoon;
}

.img-footer {
    text-align: center;
}

.img-footer :nth-child(1) {
    text-decoration: none;
    font-size: 16px;
}

.img-footer :nth-child(2) {
    width: 30%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

@media screen and (max-width: 850px) {
    .row.primary {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }

    .title {
        font-size: 55px;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }

    .title {
        font-size: 30px;
    }
}

.modal.active .modal-overlay,
.modal.active .modal-window {
    opacity: 1;
    z-index: 4;
}

.modal.hide .modal-overlay,
.modal.hide .modal-window {
    opacity: 1;
    z-index: 4;
}

.modal.active .modal-window {
    transform: translateY(200px);
}

.modal-window, .modal-overlay {
    opacity: 0;
    z-index: -1;
}

  
.modal.active .dropdown-inst:hover .dropdown-inst-content,
.modal.active .dropdown-git:hover .dropdown-git-content,
.modal.active .dropdown-tg:hover .dropdown-tg-content
 {display: block;}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: background .2s ease-in;
}

.modal-window {
    border-radius: 10px;
    height: max-content;
    margin: 0 auto;
    transform: translateY(450px);
    transition: transform .2s ease-in;
}

.modal-header {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.modal-title {
    font-size: 35px;
    padding: 10px 0 0 10px;
}

.modal-close {
    cursor: pointer;
    margin-right: 0;
    font-weight: bold;
    font-size: 25px;    
}

.modal-body {
    padding: 15px;
}

#c1 {
    display: none;
}

#canvas {
    width: 100%;
}

.dowload-buttons {
    margin-top: 35px;
    margin-bottom: 35px;
}

.button-download {
    text-decoration: none;
    padding: 15px 10px;
    border-radius: 10px;
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    transition: .15s ease-in-out;
    cursor: pointer;
}

.square {
    margin: 0;
    counter-reset: li;
    list-style: none;
    border-radius: 5px;
    padding: 10px;
  }

  .square li {
    position: relative;
    margin: 0 0 10px 2em;
    padding: 4px 8px;
    transition: .3s linear;
  }
  .square li:last-child {margin-bottom: 0;}

  .square li::before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: -2px;
    left: -2em;
    width: 2em;
    box-sizing: border-box;
    margin-right: 8px;
    padding: 4px;
    font-weight: bold;
    text-align: center;
    transition: .3s linear;
  }

  .FAQ-list {
    list-style: none;
    border-radius: 5px;
    padding: 0;
    font-family: "Lucida Sans";
  }

  .FAQ-list li {padding: 10px;}